In [21]:
import os
import pandas as pd
from IPython.display import display, Markdown, Latex

## Experimentos

In [23]:
experiments = [
            {'id': '1', 'source':'imdb', 'target':'uwcse', 'predicate':'workedunder', 'to_predicate':'advisedby', 'arity': 2},
            #{'id': '2', 'source':'uwcse', 'target':'imdb', 'predicate':'advisedby', 'to_predicate':'workedunder', 'arity': 2},
            {'id': '3', 'source':'imdb', 'target':'cora', 'predicate':'workedunder', 'to_predicate':'samevenue', 'arity': 2},
            {'id': '4', 'source':'cora', 'target':'imdb', 'predicate':'samevenue', 'to_predicate':'workedunder', 'arity': 2},
            {'id': '5', 'source':'cora', 'target':'imdb', 'predicate':'sametitle', 'to_predicate':'workedunder', 'arity': 2},
            {'id': '6', 'source':'imdb', 'target':'cora', 'predicate':'workedunder', 'to_predicate':'sametitle', 'arity': 2},
            ##{'id': '5', 'source':'uwcse', 'target':'cora', 'predicate':'advisedby', 'to_predicate':'samevenue', 'arity': 2},
            ##{'id': '6', 'source':'cora', 'target':'uwcse', 'predicate':'samevenue', 'to_predicate':'advisedby', 'arity': 2},
            {'id': '7', 'source':'yeast', 'target':'twitter', 'predicate':'proteinclass', 'to_predicate':'accounttype', 'arity': 2},
            {'id': '8', 'source':'twitter', 'target':'yeast', 'predicate':'accounttype', 'to_predicate':'proteinclass', 'arity': 2},
            {'id': '9', 'source':'nell_sports', 'target':'nell_finances', 'predicate':'teamplayssport', 'to_predicate':'companyeconomicsector', 'arity': 2},
            {'id': '10', 'source':'nell_finances', 'target':'nell_sports', 'predicate':'companyeconomicsector', 'to_predicate':'teamplayssport', 'arity': 2},
            #{'id': '11', 'source':'uwcse', 'target':'webkb', 'predicate':'advisedby', 'to_predicate':'departmentof', 'arity':2},
            #{'id': '12', 'source':'webkb', 'target':'yeast', 'predicate':'departmentof', 'to_predicate':'proteinclass', 'arity':2},
            #{'id': '13', 'source': 'yago2s', 'target': 'yeast', 'predicate': 'wasbornin', 'to_predicate': 'proteinclass', 'arity': 2},
            #{'id': '14', 'source': 'yeast', 'target': 'yago2s', 'predicate': 'proteinclass', 'to_predicate': 'wasbornin', 'arity': 2},
            #{'id': '15', 'source': 'yeast', 'target': 'yeast2', 'predicate': 'proteinclass', 'to_predicate': 'gene', 'arity': 2},
            #{'id': '16', 'source': 'yeast', 'target': 'fly', 'predicate': 'proteinclass', 'to_predicate': 'gene', 'arity': 2},
            #{'id': '48', 'source':'twitter', 'target':'facebook', 'predicate':'follows', 'to_predicate':'edge', 'arity': 2},
            #{'id': '49', 'source':'imdb', 'target':'facebook', 'predicate':'workedunder', 'to_predicate':'edge','arity': 2},
            #{'id': '50', 'source':'uwcse', 'target':'facebook', 'predicate':'advisedby', 'to_predicate':'edge', 'arity': 2},
            ]

## Leitura e Processamento dos Dados

In [12]:
def read_transfer_file(filename):
        mappings = {}
        with open(os.getcwd() + '/mapeamentos/' + filename, 'r') as file:
            for line in file:
                if('param' in line.lower() or 'map' in line.lower()): continue
                line = line.replace('\n', '').split(':')
                source, target = line[0].split('(')[0].strip(), line[1].split('(')[0].strip()
                mappings[source] = target
        return mappings

In [27]:
filename = '{}/{}/transfer_fasttext_{}.txt'
for experiment in experiments: 
    experiment_title = str.format('{}_{}_{}', experiment['id'], experiment['source'], experiment['target'])
    
    display(Markdown('# Results for ' + experiment_title))
    
    for metric in ['euclidean', 'softcosine', 'wmd', 'relax-wmd']:
        table = []
        
        display(Markdown('## ' + metric))
        
        stopwords_normalized = read_transfer_file(filename.format('mapeamentos-com-stopwords-normalizados', experiment_title, metric))
        stopwords_no_normalized = read_transfer_file(filename.format('mapeamentos-com-stopwords-sem-normalizacao', experiment_title, metric))
        no_stopwords_normalized = read_transfer_file(filename.format('mapeamentos-sem-stopwords-normalizados', experiment_title, metric))
        no_stopwords_no_normalized = read_transfer_file(filename.format('mapeamentos-sem-stopwords-sem-normalizacao', experiment_title, metric))
        
        for source in stopwords_normalized.keys():
            table.append([source,stopwords_no_normalized[source],no_stopwords_no_normalized[source],stopwords_normalized[source],no_stopwords_no_normalized[source]])
        
        display(pd.DataFrame(table, columns=['source', '+stopwords', '-stopwords', '+stopwords+normalization','-stopwords-normalization']))

# Results for 1_imdb_uwcse

## euclidean

,source,+stopwords,-stopwords,+stopwords+normalization,-stopwords-normalization
0,director,professor,professor,professor,professor
1,movie,publication,sameperson,publication,sameperson
2,actor,student,student,student,student

## softcosine

,source,+stopwords,-stopwords,+stopwords+normalization,-stopwords-normalization
0,director,professor,professor,professor,professor
1,movie,courselevel,courselevel,courselevel,courselevel
2,actor,student,student,student,student

## wmd

,source,+stopwords,-stopwords,+stopwords+normalization,-stopwords-normalization
0,director,professor,professor,professor,professor
1,movie,sameperson,sameperson,sameperson,sameperson
2,actor,student,student,student,student

## relax-wmd

,source,+stopwords,-stopwords,+stopwords+normalization,-stopwords-normalization
0,director,professor,professor,professor,professor
1,movie,sameperson,sameperson,sameperson,sameperson
2,actor,student,student,student,student

# Results for 3_imdb_cora

## euclidean

,source,+stopwords,-stopwords,+stopwords+normalization,-stopwords-normalization
0,director,,,,
1,movie,author,author,author,author
2,actor,,,,
3,female,,,,

## softcosine

,source,+stopwords,-stopwords,+stopwords+normalization,-stopwords-normalization
0,director,,,,
1,movie,author,author,author,author
2,actor,,,,
3,female,,,,

## wmd

,source,+stopwords,-stopwords,+stopwords+normalization,-stopwords-normalization
0,director,,,,
1,movie,sameauthor,author,sameauthor,author
2,actor,,,,
3,female,,,,

## relax-wmd

,source,+stopwords,-stopwords,+stopwords+normalization,-stopwords-normalization
0,director,,,,
1,movie,sameauthor,author,sameauthor,author
2,actor,,,,
3,female,,,,

# Results for 4_cora_imdb

## euclidean

,source,+stopwords,-stopwords,+stopwords+normalization,-stopwords-normalization
0,haswordvenue,movie,movie,movie,movie
1,haswordtitle,genre,genre,genre,genre
2,title,,,,
3,haswordauthor,,,,
4,author,,,,

## softcosine

,source,+stopwords,-stopwords,+stopwords+normalization,-stopwords-normalization
0,haswordvenue,genre,genre,genre,genre
1,haswordtitle,movie,movie,movie,movie
2,title,,,,
3,haswordauthor,,,,
4,author,,,,

## wmd

,source,+stopwords,-stopwords,+stopwords+normalization,-stopwords-normalization
0,haswordvenue,movie,movie,movie,movie
1,haswordtitle,genre,genre,genre,genre
2,title,,,,
3,haswordauthor,,,,
4,author,,,,

## relax-wmd

,source,+stopwords,-stopwords,+stopwords+normalization,-stopwords-normalization
0,haswordvenue,movie,movie,movie,movie
1,haswordtitle,genre,genre,genre,genre
2,title,,,,
3,haswordauthor,,,,
4,author,,,,

# Results for 5_cora_imdb

## euclidean

,source,+stopwords,-stopwords,+stopwords+normalization,-stopwords-normalization
0,haswordtitle,movie,movie,movie,movie
1,author,genre,genre,genre,genre
2,haswordvenue,,,,

## softcosine

,source,+stopwords,-stopwords,+stopwords+normalization,-stopwords-normalization
0,haswordtitle,genre,genre,genre,genre
1,author,movie,movie,movie,movie
2,haswordvenue,,,,

## wmd

,source,+stopwords,-stopwords,+stopwords+normalization,-stopwords-normalization
0,haswordtitle,movie,movie,movie,movie
1,author,genre,genre,genre,genre
2,haswordvenue,,,,

## relax-wmd

,source,+stopwords,-stopwords,+stopwords+normalization,-stopwords-normalization
0,haswordtitle,movie,movie,movie,movie
1,author,genre,genre,genre,genre
2,haswordvenue,,,,

# Results for 6_imdb_cora

## euclidean

,source,+stopwords,-stopwords,+stopwords+normalization,-stopwords-normalization
0,director,,,,
1,movie,author,author,author,author
2,actor,,,,

## softcosine

,source,+stopwords,-stopwords,+stopwords+normalization,-stopwords-normalization
0,director,,,,
1,movie,author,author,author,author
2,actor,,,,

## wmd

,source,+stopwords,-stopwords,+stopwords+normalization,-stopwords-normalization
0,director,,,,
1,movie,sameauthor,author,sameauthor,author
2,actor,,,,

## relax-wmd

,source,+stopwords,-stopwords,+stopwords+normalization,-stopwords-normalization
0,director,,,,
1,movie,sameauthor,author,sameauthor,author
2,actor,,,,

# Results for 7_yeast_twitter

## euclidean

,source,+stopwords,-stopwords,+stopwords+normalization,-stopwords-normalization
0,interaction,follows,follows,follows,follows
1,location,tweets,tweets,tweets,tweets
2,enzyme,,,,
3,complex,,,,
4,phenotype,,,,
5,recursion_proteinclass,recursion_accounttype,recursion_accounttype,recursion_accounttype,recursion_accounttype

## softcosine

,source,+stopwords,-stopwords,+stopwords+normalization,-stopwords-normalization
0,interaction,follows,follows,follows,follows
1,location,tweets,tweets,tweets,tweets
2,enzyme,,,,
3,complex,,,,
4,phenotype,,,,
5,recursion_proteinclass,recursion_accounttype,recursion_accounttype,recursion_accounttype,recursion_accounttype

## wmd

,source,+stopwords,-stopwords,+stopwords+normalization,-stopwords-normalization
0,interaction,follows,follows,follows,follows
1,location,tweets,tweets,tweets,tweets
2,enzyme,,,,
3,complex,,,,
4,phenotype,,,,
5,recursion_proteinclass,recursion_accounttype,recursion_accounttype,recursion_accounttype,recursion_accounttype

## relax-wmd

,source,+stopwords,-stopwords,+stopwords+normalization,-stopwords-normalization
0,interaction,follows,follows,follows,follows
1,location,tweets,tweets,tweets,tweets
2,enzyme,,,,
3,complex,,,,
4,phenotype,,,,
5,recursion_proteinclass,recursion_accounttype,recursion_accounttype,recursion_accounttype,recursion_accounttype

# Results for 8_twitter_yeast

## euclidean

,source,+stopwords,-stopwords,+stopwords+normalization,-stopwords-normalization
0,follows,complex,complex,complex,complex
1,tweets,interaction,interaction,interaction,interaction
2,recursion_accounttype,recursion_proteinclass,recursion_proteinclass,recursion_proteinclass,recursion_proteinclass

## softcosine

,source,+stopwords,-stopwords,+stopwords+normalization,-stopwords-normalization
0,follows,complex,complex,complex,complex
1,tweets,enzyme,enzyme,enzyme,enzyme
2,recursion_accounttype,recursion_proteinclass,recursion_proteinclass,recursion_proteinclass,recursion_proteinclass

## wmd

,source,+stopwords,-stopwords,+stopwords+normalization,-stopwords-normalization
0,follows,complex,complex,complex,complex
1,tweets,interaction,interaction,interaction,interaction
2,recursion_accounttype,recursion_proteinclass,recursion_proteinclass,recursion_proteinclass,recursion_proteinclass

## relax-wmd

,source,+stopwords,-stopwords,+stopwords+normalization,-stopwords-normalization
0,follows,complex,complex,complex,complex
1,tweets,interaction,interaction,interaction,interaction
2,recursion_accounttype,recursion_proteinclass,recursion_proteinclass,recursion_proteinclass,recursion_proteinclass

# Results for 9_nell_sports_nell_finances

## euclidean

,source,+stopwords,-stopwords,+stopwords+normalization,-stopwords-normalization
0,athleteplayssport,acquired,acquired,acquired,acquired
1,athleteledsportsteam,companyalsoknownas,companyalsoknownas,companyalsoknownas,companyalsoknownas
2,teamplaysagainstteam,cityhascompanyoffice,cityhascompanyoffice,cityhascompanyoffice,cityhascompanyoffice
3,athleteplaysforteam,countryhascompanyoffice,countryhascompanyoffice,countryhascompanyoffice,countryhascompanyoffice
4,teamplaysinleague,bankbankincountry,bankboughtbank,bankbankincountry,bankboughtbank
5,teamalsoknownas,companyceo,companyceo,companyceo,companyceo
6,athleteplaysinleague,economicsectorcompany,economicsectorcompany,economicsectorcompany,economicsectorcompany

## softcosine

,source,+stopwords,-stopwords,+stopwords+normalization,-stopwords-normalization
0,athleteplayssport,acquired,acquired,acquired,acquired
1,athleteledsportsteam,bankbankincountry,bankbankincountry,bankbankincountry,bankbankincountry
2,teamplaysagainstteam,bankboughtbank,bankboughtbank,bankboughtbank,bankboughtbank
3,athleteplaysforteam,companyalsoknownas,bankchiefexecutiveceo,companyalsoknownas,bankchiefexecutiveceo
4,teamplaysinleague,bankchiefexecutiveceo,cityhascompanyoffice,bankchiefexecutiveceo,cityhascompanyoffice
5,teamalsoknownas,cityhascompanyoffice,companyalsoknownas,cityhascompanyoffice,companyalsoknownas
6,athleteplaysinleague,companyceo,companyceo,companyceo,companyceo

## wmd

,source,+stopwords,-stopwords,+stopwords+normalization,-stopwords-normalization
0,athleteplayssport,companyalsoknownas,companyalsoknownas,companyalsoknownas,companyalsoknownas
1,athleteledsportsteam,countryhascompanyoffice,countryhascompanyoffice,countryhascompanyoffice,countryhascompanyoffice
2,teamplaysagainstteam,cityhascompanyoffice,cityhascompanyoffice,cityhascompanyoffice,cityhascompanyoffice
3,athleteplaysforteam,bankbankincountry,acquired,bankbankincountry,acquired
4,teamplaysinleague,acquired,bankboughtbank,acquired,bankboughtbank
5,teamalsoknownas,companyceo,companyceo,companyceo,companyceo
6,athleteplaysinleague,economicsectorcompany,bankbankincountry,economicsectorcompany,bankbankincountry

## relax-wmd

,source,+stopwords,-stopwords,+stopwords+normalization,-stopwords-normalization
0,athleteplayssport,companyalsoknownas,companyalsoknownas,companyalsoknownas,companyalsoknownas
1,athleteledsportsteam,countryhascompanyoffice,countryhascompanyoffice,countryhascompanyoffice,countryhascompanyoffice
2,teamplaysagainstteam,cityhascompanyoffice,acquired,cityhascompanyoffice,acquired
3,athleteplaysforteam,bankbankincountry,cityhascompanyoffice,bankbankincountry,cityhascompanyoffice
4,teamplaysinleague,acquired,bankboughtbank,acquired,bankboughtbank
5,teamalsoknownas,companyceo,companyceo,companyceo,companyceo
6,athleteplaysinleague,bankboughtbank,bankbankincountry,bankboughtbank,bankbankincountry

# Results for 10_nell_finances_nell_sports

## euclidean

,source,+stopwords,-stopwords,+stopwords+normalization,-stopwords-normalization
0,cityhascompanyoffice,teamalsoknownas,teamalsoknownas,teamalsoknownas,teamalsoknownas
1,companyalsoknownas,teamplaysinleague,teamplaysagainstteam,teamplaysinleague,teamplaysagainstteam
2,acquired,athleteplayssport,teamplaysinleague,athleteplayssport,teamplaysinleague
3,countryhascompanyoffice,athleteplaysforteam,athleteplaysforteam,athleteplaysforteam,athleteplaysforteam
4,economicsectorcompany,teamplaysagainstteam,athleteplaysinleague,teamplaysagainstteam,athleteplaysinleague
5,companyceo,athleteplaysinleague,athleteplayssport,athleteplaysinleague,athleteplayssport
6,bankboughtbank,athleteledsportsteam,athleteledsportsteam,athleteledsportsteam,athleteledsportsteam
7,bankchiefexecutiveceo,,,,

## softcosine

,source,+stopwords,-stopwords,+stopwords+normalization,-stopwords-normalization
0,cityhascompanyoffice,athleteledsportsteam,athleteledsportsteam,athleteledsportsteam,athleteledsportsteam
1,companyalsoknownas,teamalsoknownas,teamalsoknownas,teamalsoknownas,teamalsoknownas
2,acquired,athleteplaysforteam,athleteplaysforteam,athleteplaysforteam,athleteplaysforteam
3,countryhascompanyoffice,athleteplaysinleague,athleteplaysinleague,athleteplaysinleague,athleteplaysinleague
4,economicsectorcompany,athleteplayssport,athleteplayssport,athleteplayssport,athleteplayssport
5,companyceo,teamplaysagainstteam,teamplaysagainstteam,teamplaysagainstteam,teamplaysagainstteam
6,bankboughtbank,teamplaysinleague,teamplaysinleague,teamplaysinleague,teamplaysinleague
7,bankchiefexecutiveceo,,,,

## wmd

,source,+stopwords,-stopwords,+stopwords+normalization,-stopwords-normalization
0,cityhascompanyoffice,teamalsoknownas,teamalsoknownas,teamalsoknownas,teamalsoknownas
1,companyalsoknownas,teamplaysinleague,teamplaysagainstteam,teamplaysinleague,teamplaysagainstteam
2,acquired,athleteplaysforteam,teamplaysinleague,athleteplaysforteam,teamplaysinleague
3,countryhascompanyoffice,athleteplaysinleague,athleteplaysforteam,athleteplaysinleague,athleteplaysforteam
4,economicsectorcompany,teamplaysagainstteam,athleteledsportsteam,teamplaysagainstteam,athleteledsportsteam
5,companyceo,athleteledsportsteam,athleteplayssport,athleteledsportsteam,athleteplayssport
6,bankboughtbank,athleteplayssport,athleteplaysinleague,athleteplayssport,athleteplaysinleague
7,bankchiefexecutiveceo,,,,

## relax-wmd

,source,+stopwords,-stopwords,+stopwords+normalization,-stopwords-normalization
0,cityhascompanyoffice,teamalsoknownas,teamalsoknownas,teamalsoknownas,teamalsoknownas
1,companyalsoknownas,teamplaysinleague,teamplaysagainstteam,teamplaysinleague,teamplaysagainstteam
2,acquired,athleteplaysforteam,teamplaysinleague,athleteplaysforteam,teamplaysinleague
3,countryhascompanyoffice,athleteplaysinleague,athleteplaysforteam,athleteplaysinleague,athleteplaysforteam
4,economicsectorcompany,teamplaysagainstteam,athleteledsportsteam,teamplaysagainstteam,athleteledsportsteam
5,companyceo,athleteledsportsteam,athleteplayssport,athleteledsportsteam,athleteplayssport
6,bankboughtbank,athleteplayssport,athleteplaysinleague,athleteplayssport,athleteplaysinleague
7,bankchiefexecutiveceo,,,,